<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="es">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />

    <style>
        .footer { margin-top: 32px; color: #888; font-size: 0.95rem; }
    </style>
    <meta name="x-apple-disable-message-reformatting" />
    <!--$-->
  </head>
  <body style="background-color:#fff;">
    <table border="0" width="100%" cellpadding="0" cellspacing="0" role="presentation" align="center">
      <tbody>
        <tr>
          <td style='background-color:#fff;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif'>
            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="max-width:60em">
              <tbody>
                <tr style="width:100%">
                  <td>
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; background-color: #003f9e; border-radius: 10px 10px 0px 0px;">
                    <tr>
                        <td style="padding: 20px 0;" align="center">
                          <img src="cid:logoEmpresa" alt="logo-empresa" border="0" width="75">
                        </td>
                    </tr>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border:1px solid rgb(0,0,0, 0.1);border-radius:3px;overflow:hidden">
                      <tbody>
                        <tr>
                          <td>
                            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                              <tbody style="width:100%">
                                <tr style="width:100%">
                                  <td style="text-align:center;">
                                    <img
                                      alt="Vacaciones Aprobadas"
                                      src="cid:imagenPermisoAprobado" alt="Business-handshake"
                                      style="display:block;outline:none;border:none;text-decoration:none;margin:0 auto;max-width:100%"
                                      width="375"
                                      height="350" />
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation" style="padding:20px;padding-bottom:0">
                              <tbody style="width:100%">
                                <tr style="width:100%">
                                  <td data-id="__react-email-column">
                                    <h1 style="font-size:32px;font-weight:bold;text-align:center">
                                      ¡Buenas noticias, ${nombre}!
                                    </h1>
                                    <h2 style="font-size:24px;font-weight:bold;text-align:center;color:#388e3c;">
                                      Tu solicitud de permisos ha sido aprobada por tu supervisor
                                    </h2>
                                    <p style="font-size:16px;line-height:24px;margin-top:16px;margin-bottom:16px">
                                      Nos complace informarte que tu supervisor ha aprobado tu solicitud de permisos.
                                      <br><br>
                                      <h2>¿Qué sigue?</h2> <br>
                                      Ahora, Capital Humano realizará el procesamiento final de tus permisos. Te notificaremos cuando el proceso haya concluido.
                                    </p>
                                    <p style="font-size:16px;line-height:24px;margin-top:16px;margin-bottom:16px">
                                      <b>id del permiso solicitado: </b>${PermisosID}
                                    </p>
                                    <p style="font-size:16px;line-height:24px;margin-top:16px;margin-bottom:16px">
                                      <b>Fecha de inicio solicitada: </b>${fecha_inicio}
                                    </p>
                                    <p style="font-size:16px;line-height:24px;margin-top:-5px;margin-bottom:16px">
                                      <b>Fecha de fin solicitada: </b>${fecha_fin}
                                    </p>
                                    <p style="font-size:16px;line-height:24px;margin-top:-5px;margin-bottom:16px">
                                      <b>Titulo: </b>${titulo}
                                    </p>
                                    <p style="font-size:16px;line-height:24px;margin-top:-5px;margin-bottom:16px">
                                      <b>Motivo: </b>${Motivo}
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table align="center" width="100%">
                                <td style="text-align:center;">
                                    <img src="cid:Procesando" alt="Loading-Files-20251107135235" border="0" width="350" style="display: block; margin: 0 auto 24px auto; object-fit: cover; height: 120px; object-position: center;">
                                  </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">
                                        <h2 style="margin-bottom:5px;color: #003f9e;">
                                            ¡Mantente Atento!
                                        </h2>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="footer" style="text-align: center;">
                                            Este mensaje fue generado automáticamente por la Intranet de Seguros Altamira.<br>
                                            No responda a este correo.
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <p style="font-size:12px;line-height:24px;text-align:center;color:rgb(0,0,0, 0.7);margin-top:16px;margin-bottom:16px">
                                      © 2025 | Intranet Seguros Altamira
                                    </p>
                                    </td>
                                </tr>
                            </table>    
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <img src="https://media.licdn.com/dms/image/v2/D4E3DAQF0mlb0e_m8-Q/image-scale_191_1128/image-scale_191_1128/0/1678969137498/seguros_altamira_cover?e=2147483647&v=beta&t=oOSJm4jhoR01nmRztPezxIuPIdnn2WWJ8kt4j3tUYuE" alt="Seguros Altamira Footer" style="display: block; width: 100%; height: auto; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <!--/$-->
  </body>
</html>